@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300&family=M+PLUS+1+Code:wght@300&display=swap");
:root {
  --violet: rgb(73, 92, 128);
}
* {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.active {
  color: var(--violet) !important;
  font-weight: 900;
}
body,
html {
  overflow-x: hidden;
  background-color: #cfd2f3;
}
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}
.logo h1 {
  color: whitesmoke;
  font-weight: 900;
  margin-top: 20px;
}

.logo-png {
  width: 40px;
}

/*NAVBAR SECTION*/
.navbar {
  display: flex;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0px 30px;
  color: whitesmoke;
}
.nav-links li a {
  color: whitesmoke;
}
.nav-btn {
  font-weight: 700;
}
/* Socials */
.socials {
  position: absolute;
  margin-top: 150px;
  position: fixed;
  z-index: 9;
}
.socials ul {
  position: relative;
  display: block;
  z-index: 2;
}
.socials ul li {
  position: relative;
  list-style: none;
  margin: 15px;
}
.socials ul li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  font-size: 3.4vmin;
  border-right: 1px solid rgba(225, 225, 225, 0.8);
  border-bottom: 1px solid rgba(225, 225, 225, 0.8);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}
.socials ul li a:hover {
  transform: translateX(20px);
  overflow: hidden;
}
.socials ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(45deg) translateX(70px);
  transition: 0.5s;
}
.socials li a:hover::before {
  transform: skewX(45deg) translateX(-80px);
}

/* header  */
header {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/9.jpg"); /*idea:slider of pictures*/
  background-position: top;

  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
.header-content h2 {
  font-size: 3vmin;
  text-transform: uppercase;
}
.line {
  width: 200px;
  height: 4px;
  background: #1ed345;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h2 {
  color: whitesmoke;

  font-size: 3vmin;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.header-content h1 {
  color: whitesmoke;
  text-shadow: 1px 1px var(--violet);
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.ctn {
  padding: 8px 15px;
  background: #1ed345;
  border-radius: 30px;
  color: whitesmoke;
}
.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}
/* Events */

section {
  width: 80%;
  margin: 80px auto;
}
.title {
  text-align: center;
  font-size: 4vmin;
  color: var(--violet);
}
.row {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  width: 100%;
}
.col {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.col img {
  width: 95%;
  border-radius: 5px;
}

.events .row {
  margin-top: 50px;
}
h4 {
  font-size: 4vmin;
  color: var(--violet);
  margin: 20px auto;
  text-align: center;
}
p {
  color: #7c7c7c;
  padding: 0px 40px;
}
.events .ctn {
  margin-top: 30px;
}

.explore {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.explore-content {
  width: 50%;
  padding: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore-content h1 {
  font-size: 6vmin;
}
.explore-content .line {
  margin-bottom: 50px;
}
.explore-content p {
  color: whitesmoke;
}
.explore-content .ctn {
  margin-top: 40px;
}

.content-col {
  width: 40%;
}
.tours .line {
  margin-right: 1px;
}
.tours .row .image-col {
  width: 60%;
}

.tours .image-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.image-gallery img {
  width: 300px;
  margin: 10px;
}
.content-col h1 {
  font-size: 7vmin;
  color: var(--violet);
}

.content-col .line {
  margin-left: -1px;
}
.content-col p {
  padding: 0;
  margin: 30px auto;
}
.content-col .ctn {
  margin-left: -100px;
}

.footer {
  width: 100%;
  height: auto;
  background-color: var(--violet);
  padding: 20px 80px;
  margin: 0;
  text-align: center;
}
.footer h2 {
  size: 5vmin;
  text-transform: uppercase;
  font-weight: 800;
}
.footer p,
h2 {
  color: whitesmoke;
  margin: 10px auto;
  padding: 20px auto;
}
.footer p {
  margin-bottom: 30px;
}
.copyright {
  font-size: 2vmin;
  font-weight: 800;
}

/* ANIMATIONS */

img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.1);
}

.ctn:hover {
  background: whitesmoke;
  color: var(--violet);
  box-shadow: 2px 2px 5px rgb(61, 53, 53);
}
li a:hover {
  color: var(--violet);
  cursor: pointer;
}
/* Author page */
.team h1 {
  margin: 20px auto;
}
.author img {
  width: 250px;
}
.author h3 {
  margin: 15px auto;
  font-size: 4vmin;
  color: var(--violet);
}
.author-content p {
  color: rgb(75, 72, 72);
  font-size: 3vmin;
}
/* Contact Page */

.form {
  margin: 0;
  width: 100%;
  height: 150vh;
  background: url("./assets/images/15.jpg") no-repeat center;
  background-size: cover;

  /* filter: blur(8px);
 -webkit-filter: blur(8px); */
}
.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 70px 100px;
  z-index: 2;
}
.form-container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.contact-box {
  margin-top: 80px;
  z-index: 3;
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
.left {
  height: 100%;
  background: url("./assets/images/15.jpg") no-repeat center;
  background-size: cover;
}
.right {
  padding: 25px 40px;
}
h1,
h2 {
  color: var(--violet);
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(230, 230, 230, 0.6);
  font-size: 2vmin;
  margin-bottom: 20px;
  transition: 0.3s;
  border-radius: 10px;
}
.field:hover {
  background: rgba(0, 0, 0, 0.1);
}
.field:focus {
  background-color: #fff;
  border: 2px solid var(--violet);
}
.area {
  min-height: 150px;
}
.form-btn {
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 2.4vmin;
  background-color: #1ed345;
  cursor: pointer;
  outline: none;
  border: none;
  transform: 0.3s;
  color: whitesmoke;
  font-weight: 600;
}
.btn:hover {
  background-color: #1ed345;
}

/*Mobile device*/

@media screen and (max-width: 850px) {
  .menu-btn {
    display: block;
  }
  .navbar {
    padding: 0;
    z-index: 99;
  }
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .logo-png {
    width: 30px;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: rgb(111, 130, 165);
    margin-top: -900px;
    transition: all 0.5s ease;
  }
  .mobile-menu {
    margin-top: 0px;
    border-bottom-right-radius: 30%;
  }

  .nav-links li {
    margin: 30px auto;
  }
  .socials ul li {
    width: 25px;
    height: 25px;
  }

  /* events */

  .row {
    flex-direction: column;
  }
  .row .col {
    margin: 20px auto;
  }
  .col img {
    max-width: 90%;
  }
  /* explore  */

  .explore-content {
    width: 100%;
  }
  /* tours */
  .tours .col {
    width: 100%;
  }
  .tours .content-col {
    text-align: center;
    align-items: center;
  }
  .content-col .ctn {
    margin: unset;
  }

  .tours .line {
    margin-right: -1px;
  }
  .image-gallery {
    justify-content: center;
    align-items: center;
  }
  .image-gallery img {
    width: 90%;
  }
  .footer {
    padding: 10px;
  }

  /* contact */
  .contact-box h1 {
    display: none;
  }
  .contact-box .right {
    height: auto;
  }
  .contact-box .left {
    display: none;
  }
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
